/* index.scss */

/* override color palette */
$primary: #e64c3c;   /* fire red */
$secondary: #fac380; /* tan, original: #f7941d; orange */
$dark: #414020;       /* soft black */
$success: #63e653;   /* green */
$info: #25dee6;      /* cyan */
$warning: #ffc107;   /* yellow */
$danger: #b33c2e;    /* red */

/* ensure all pages have Bootstrap CSS */
@import '~bootstrap/scss/bootstrap';

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: --bs-light-rgb;
    scroll-behavior: smooth;
}


@media (max-width: 575.98px) {
  .bg-xs-primary-opacity-50 {
    --bs-bg-opacity: 0.5;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
  }

}

@include media-breakpoint-down(xl) {
  .border-xs-xl-0 {
    border-width: 0 !important;
  }
}
